nbproject/
node_modules/
.vscode/
logs/
certs/
dist/
build/
data/
util/sanitycheck*
util/backups/**
expansions/
.env
.env.local
*.sqlite
*.sqlite3
*.log
*.ex
.DS_Store
.npmrc
Thumbs.db
scratchbook*
dev.sh
live.sh
package-lock.json
backup.sh