nbproject/
node_modules/
.vscode/
logs/
certs/
dist/
build/
data/
util/
.env
.env.local
*.sqlite
*.sqlite3
*.log
.DS_Store
Thumbs.db
scratchbook.note
scratchbook.js
zboe.sh
package-lock.json
backup.sh